h1 {
    color: white;
    font-family: verdana;
    font-size: 300%;
}
h2 {
    color: white;
    font-family: verdana;
}
img {
    float: left;
}
#cases {
    font-family: "Trebuchet MS";
    border-collapse: collapse;
    width: 100%;
}

#cases td, #cases th {
    border: 1px solid #ddd;
    padding: 8px;
}

#cases tr:nth-child(even){background-color: #f2f2f26c;}

#cases tr:nth-child(odd){background-color: #f2f2f227;}

#cases tr:hover {background-color: #ddd;}

#cases th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(10, 68, 155);
    color: white;
}
#policies {
    font-family: "Trebuchet MS";
    border-collapse: collapse;
    width: 100%;
}

#policies td, #policies th {
    border: 1px solid #ddd;
    padding: 8px;
}

#policies tr:nth-child(even){background-color: #f2f2f26c;}

#policies tr:nth-child(odd){background-color: #f2f2f227;}

#policies tr:hover {background-color: #ddd;}

#policies th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(10, 68, 155);
    color: white;
}

