<!DOCTYPE html>
<head>
    <title>Crisis Response Mapping</title>
    <style>
        h1 {
            color: white;
            font-family: verdana;
            font-size: 300%;
        }
        h2 {
            color: white;
            font-family: verdana;
        }
        img {
            float: left;
        }
        #cases {
            font-family: "Trebuchet MS";
            border-collapse: collapse;
            width: 100%;
            }

#cases td, #cases th {
  border: 1px solid #ddd;
  padding: 8px;
}

#cases tr:nth-child(even){background-color: #f2f2f26c;}

#cases tr:nth-child(odd){background-color: #f2f2f227;}

#cases tr:hover {background-color: #ddd;}

#cases th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(10, 68, 155);
  color: white;
}
        #policies {
            font-family: "Trebuchet MS";
            border-collapse: collapse;
            width: 100%;
            }

#policies td, #policies th {
  border: 1px solid #ddd;
  padding: 8px;
}

#policies tr:nth-child(even){background-color: #f2f2f26c;}

#policies tr:nth-child(odd){background-color: #f2f2f227;}

#policies tr:hover {background-color: #ddd;}

#policies th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(10, 68, 155);
  color: white;
}
        </style>
</head>
<body style="background-color:#1a8cff;">
    <img src="logo.jpg" height="42" width ="42">
    <h1>Crisis Response Mapping</h1>
    <h2>Cases by state data</h2>
        <table id="cases">
            <tr>
                <th>Name</th>
                <th>Number of COVID-19 Cases</th>
                <th>Cases per 1,000,000</th>
                <th>Deaths from COVID-19</th>
                <th>Deaths per 1,000,000</th>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>State</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
                <td>Number</td>
            </tr>
        </table>
    {{ cases_by_state }}
    <h2>Policies by state data</h2>
    <table id="policies">
            <tr>
                <th>Name</th>
                <th>Stay At Home Order</th>
                <th>Mandatory Quarantine for Travelers</th>
                <th>Non-Essential Business Closures</th>
                <th>Large Gatherings Ban</th>
                <th>State-Mandated School Closures</th>
                <th>Bar/Restaurant Limits</th>
                <th>Primary Election Postponement</th>
                <th>Emergency Declaration</th>
               
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </table>
    {{ policies_by_state }}
</body>