<!DOCTYPE html>
<html>
<head>
    <title>Crisis Response Mapping</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"> 
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback((function() { drawChart(document.getElementById("chart-variable").value) }));
      function drawChart (data) {
        var data = google.visualization.arrayToDataTable(eval(data));
        var options = {
          title: 'Average New Daily Cases per 1 million',
          hAxis: {title: 'Date',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };
        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

      document.addEventListener('input', function(event) {
        if (event.target.id !== 'chart-variable') return;
        drawChart(event.target.value);
      }, false);
    </script>
</head>
<body style="background-color:#1a8cff;">
    <!-- <img src="{{ url_for('static', filename='images/logo.jpg') }}" height="50" width ="50">  
    <h1>Crisis Response Mapping</h1> -->
    <img id="headerimg" src="{{ url_for('static', filename='images/TitleHeader.png') }}" />
    <div id="controls" class="nicebox">
        <div>
        <select id="census-variable">
          <option value="{{ num_of_cases_map|tojson }}">Number of COVID-19 Cases</option>
          <option value="{{ cases_per_mil_map|tojson }}">Cases per 1 Million</option>
          {% for policy, data in policies_map_data.items() %}
            <option value="{{ data|tojson }}">{{ policy }}</option>
          {% endfor %}
        </select>
        </div>
        <div id="legend">
          <div id="census-min">min</div>
          <div class="color-key"><span id="data-caret">&#x25c6;</span></div>
          <div id="census-max">max</div>
        </div>
      </div>
      <div id="data-box" class="nicebox">
        <label id="data-label" for="data-value"></label>
        <span id="data-value"></span>
      </div>
      <div id="map"></div>
      <p>This map gives an overall view of the state of the country. The dropdown above the map allows you to select the data displayed in the map. You can view the number of cases in each state, cases per 1 million residents in each state, or which states have the listed anti COVID-19 policies implemented in some form.</p>
      <div id="chart_div" style="width: 100%; height: 500px;"></div>
      <div id="dop">
        <select id="chart-variable">
          {% for policy, data in policies_graph_data.items() %}
            <option value='{{ data|tojson }}'>{{ policy }}</option>
          {% endfor %}
        </select>
      </div>
      <p>The chart displayed above shows the general trend of how the listed anti COVID-19 policies are affecting the average new daily cases of COVID-19 per 1 million US citizens. Note that generally states with more new cases per day are more likely to implement these policies, and the effectiveness of these policies is seen in the decrease of new cases per day. The states which do or do not have these policies implemented in some fashion are displayed below in the "Policies By State" data table.</p>
      <script>
        var mapStyle = [{
          'stylers': [{'visibility': 'off'}]
        }, {
          'featureType': 'landscape',
          'elementType': 'geometry',
          'stylers': [{'visibility': 'on'}, {'color': '#fcfcfc'}]
        }, {
          'featureType': 'water',
          'elementType': 'geometry',
          'stylers': [{'visibility': 'on'}, {'color': '#bfd4ff'}]
        }];
        var map;
        var censusMin = Number.MAX_VALUE, censusMax = -Number.MAX_VALUE;
  
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 40, lng: -100},
            zoom: 4,
            styles: mapStyle
          });

          map.data.setStyle(styleFeature);
          map.data.addListener('mouseover', mouseInToRegion);
          map.data.addListener('mouseout', mouseOutOfRegion);

          var selectBox = document.getElementById('census-variable');
          google.maps.event.addDomListener(selectBox, 'change', function() {
            clearCensusData();
            loadCensusData(selectBox.options[selectBox.selectedIndex].value);
          });

          loadMapShapes();
        }
      
        function loadMapShapes() {
            map.data.loadGeoJson('https://storage.googleapis.com/mapsdevsite/json/states.js', { idPropertyName: 'STATE' },
                function() {
                    google.maps.event.addListenerOnce(map.data, 'addfeature');
                    google.maps.event.trigger(document.getElementById('census-variable'),'change');
                }
            );
        }

        function loadCensusData(map_data) {
            var censusData = JSON.parse(map_data);
            censusData.forEach(function(row) {
                var censusVariable = row[1];
                var stateId = row[0];

                if (censusVariable < censusMin) {
                    censusMin = censusVariable;
                }
                if (censusVariable > censusMax) {
                    censusMax = censusVariable;
                }
                
                map.data
                .getFeatureById(stateId)
                .setProperty('census_variable', censusVariable);
            });
  
            document.getElementById('census-min').textContent = censusMin.toLocaleString();
            document.getElementById('census-max').textContent = censusMax.toLocaleString();
        }
  
        function clearCensusData() {
          censusMin = Number.MAX_VALUE;
          censusMax = -Number.MAX_VALUE;
          map.data.forEach(function(row) {
            row.setProperty('census_variable', undefined);
          });
          document.getElementById('data-box').style.display = 'none';
          document.getElementById('data-caret').style.display = 'none';
        }
  
        function styleFeature(feature) {
          var high = [5, 69, 54];  
          var low = [151, 83, 34];   
  
          var delta = (feature.getProperty('census_variable') - censusMin) /
              (censusMax - censusMin);
  
          var color = [];
          for (var i = 0; i < 3; i++) {
            
            color[i] = (high[i] - low[i]) * delta + low[i];
          }
  
          var showRow = true;
          if (feature.getProperty('census_variable') == null ||
              isNaN(feature.getProperty('census_variable'))) {
            showRow = false;
          }
  
          var outlineWeight = 0.5, zIndex = 1;
          if (feature.getProperty('state') === 'hover') {
            outlineWeight = zIndex = 2;
          }
  
          return {
            strokeWeight: outlineWeight,
            strokeColor: '#fff',
            zIndex: zIndex,
            fillColor: 'hsl(' + color[0] + ',' + color[1] + '%,' + color[2] + '%)',
            fillOpacity: 0.75,
            visible: showRow
          };
        }
  
        function mouseInToRegion(e) {
         
          e.feature.setProperty('state', 'hover');
  
          var percent = (e.feature.getProperty('census_variable') - censusMin) /
              (censusMax - censusMin) * 100;
  
          document.getElementById('data-label').textContent = e.feature.getProperty('NAME');
          var val = e.feature.getProperty('census_variable').toLocaleString();
          if (val == "0") {
            document.getElementById('data-value').textContent = "Implemented";
          }
          else if (val == "1") {
            document.getElementById('data-value').textContent = "No Action";
          }
          else {
            document.getElementById('data-value').textContent = val;
          }
          document.getElementById('data-box').style.display = 'block';
          document.getElementById('data-caret').style.display = 'block';
          document.getElementById('data-caret').style.paddingLeft = percent + '%';
        }
  
        function mouseOutOfRegion(e) {
          e.feature.setProperty('state', 'normal');
        }
  
      </script>
      <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyD-TnLvjU-FdImLIDBA8NhOKMP9n0x44&callback=initMap">
      </script>
    <h2>Raw Data Tables</h2>
    <button class="accordion">Cases By State</button>
    <div class="panel">
      <table id="cases">
        <tr>
            <th>Name</th>
            <th>Number of COVID-19 Cases</th>
            <th>Cases per 1,000,000</th>
            <th>Deaths from COVID-19</th>
            <th>Deaths per 1,000,000</th>
        </tr>
        {% for row in range(2,cases_by_state|length) %}
            <tr>
                {% for i in cases_by_state[row] %}
                    <td>{{ i }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    </div>

    <button class="accordion">Policies By State</button>
    <div class="panel">
      <table id="policies">
          <tr>
              {% for heading in range(0,policies_by_state[0]|length) %}
                  <th>{{ policies_by_state[0][heading] }}</th>
              {% endfor %}
          </tr>
          {% for row in range(2,policies_by_state|length) %}
              <tr>
                  {% for i in policies_by_state[row] %}
                      <td>{{ i }}</td>
                  {% endfor %}
              </tr>
          {% endfor %}
      </table>
    </div>

    <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
      var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }
    </script>
    <footer>
      <p>This site was created by Anand Shetler, Chloe Bautista, Tristan Bacani, and Nixon Puertollano. It is completely open source and you can view or contribute to our code <a href="https://github.com/AnandShetler/Crisis-Mapping">here</a>. We are well aware that it is not perfect so any and all contributions are much appreciated!</p>
      <p>Any questions or suggestions, please email <a href="mailto:anandshetler@gmail.com">anandshetler@gmail.com</a></p>
      <p>The policy data used is collected and maintained by the <a href="https://www.kff.org/health-costs/issue-brief/state-data-and-policy-actions-to-address-coronavirus/">Kaiser Family Foundation</a> and day by day case data is from <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins University</a>.</p>
    </footer>
</body>
</html>